.centred {
    display: flex;
    justify-content: center;
}

.smalltext {
    font-size: 0.6em;
}

body {
    background-image: linear-gradient(135deg, #ffe, #fef);
    background-attachment: fixed;
}