:root {
  // --colour-3: #fdfdfd;

  --c-background: #ebebeb;
  --c-card: #ffffff;
  --c-card-item: #ededed;

  --ct-default: #3d3d3d;
  --ct-sub: #979797;
  --ct-link: #ff8080;

  --cb-default: var(--ct-default);
}
@media screen and (prefers-color-scheme: dark) {
  :root {
    // --colour-3: #404040;

    --c-background: #2c2c2c;
    --c-card: #4c4c4c;
    --c-card-item: #3a3a3a;

    --ct-default: #f7f7f7;
    --ct-sub: #969696;
  }
}

* {
  z-index: 0;
  box-sizing: border-box;
  max-width: 100%;
  min-height: 0;
  max-height: 100%;
  user-select: contain;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  align-items: center;
  z-index: -999;
  margin: 0;
  background: var(--c-background);
  padding: 5rem 0;
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body,
div {
  display: flex;
  flex-direction: column;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.25rem 0;
  color: var(--ct-default);
  font-weight: normal;
  user-select: contain;
  text-align: justify;
}

hr {
  border: none;
  background-color: var(--ct-default);
  width: 100%;
  height: 0.0625rem;
  user-select: none;
}

img {
  margin: 1rem auto;
  border-radius: 0.5rem;
  background-color: #000000;
  object-fit: contain;
}

ol {
  margin: 0.5rem 0;
}

table {
  border-collapse: collapse;
  width: 15rem;
  table-layout: fixed;
}

td {
  border: 0.0625rem solid var(--cb-default);
  padding: 0.25rem;
}

a {
  color: var(--ct-link);
}

#main-content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  width: 50rem;

  &:focus {
    caret-color: transparent;
  }

  > * {
    width: 100%;
  }
}

.card {
  justify-content: center;
  border-radius: 0.5rem;
  background-color: color-mix(in srgb, var(--c-card) 90%, transparent);
  padding: 1rem;

  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}

.card-row {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 1.25rem;

  > .card {
    padding: 1rem;
  }
}

.centred-text {
  text-align: center;
}

.small-text {
  font-size: 0.75rem;
}

.x-small-text {
  font-size: 0.5rem;
}

.image-gallery {
  display: grid;
  grid-template-rows: 10rem 1fr;
  grid-auto-columns: 10rem;
  grid-auto-flow: column;
  align-items: center;
  gap: 0.5rem 2rem;
  transition: background-color 0.15s ease-in-out;
  margin: 1rem auto;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  overflow: auto hidden;

  &:hover {
    background-color: var(--c-card-item);
  }

  > img {
    grid-row: 1;
    margin: 0;
    width: 100%;
    height: 100%;
  }
}

.big-image {
  width: 20rem;
  height: 20rem;
}

.centred-horizontally {
  margin-right: auto;
  margin-left: auto;
}

.small-card {
  width: 75% !important;
}

.link-row {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  margin: 0.5rem 0;

  > .link {
    margin: 0 auto;
  }
}

.link {
  border-radius: 0.5rem;
  background-color: var(--c-card-item);
  padding: 0.25rem 0.5rem;
  width: fit-content;
}

.light-text {
  color: var(--ct-sub);
}
